        body  {
            font-family: Sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table th, table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        table th {
            background-color: #f2f2f2;
        }

        .odd-row {
            background-color: #f2f2f2;
        }

        .even-row {
            background-color: #ffffff;
        }

        .button-cell {
          text-align: center;
          width: 60px;
        }

        .deleteButton {
          padding: 10px;
          background-color: #f44336;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        .editButton {
          padding: 10px;
          background-color: blue;
          color: white;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        .addButton{
            padding: 10px;
            background-color: green;
            color: white;
        }

            #addBookForm {
                margin-top: 20px;
            }

            #addBookForm label {
                display: block;
                margin-bottom: 5px;
            }

            #addBookForm input[type="text"],
            #addBookForm input[type="number"] {
                width: 200px;
                padding: 5px;
                margin-bottom: 10px;
            }

            #addBookButton {
                padding: 8px 16px;
                background-color: #4CAF50;
                color: white;
                border: none;
                cursor: pointer;
            }



