<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Müzik Albümleri</title>
  <base href="http://localhost:8080/">
</head>
<body>
<h1>Müzik Albümleri</h1>
<table>
  <thead>
  <tr>
    <th>Ürün Adı</th>
    <th>Tür</th>
    <th>Çıkış Tarihi</th>
    <th>Fiyat</th>
    <th>Şarkıcı/Grup Adı</th>
    <th>Albümdeki Şarkı Sayısı</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="musicAlbum : ${musicAlbums}">
    <td th:text="${musicAlbum.name}"></td>
    <td th:text="${musicAlbum.genre}"></td>
    <td th:text="${musicAlbum.releaseDate}"></td>
    <td th:text="${musicAlbum.basePrice}"></td>
    <td th:text="${musicAlbum.singerName}"></td>
    <td th:text="${musicAlbum.numberOfSongs}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
