<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Müzik Albümleri</title>
  <base href="http://localhost:8080/">
  <link rel="stylesheet" type="text/css" href="css/albumStyle.css">
</head>
<body>
<h1>Müzik Albümleri</h1>
<table>
  <thead>
  <tr>
    <th>Ürün ID</th>
    <th>Ürün Adı</th>
    <th>Tür</th>
    <th>Çıkış Tarihi</th>
    <th>Fiyat</th>
    <th>Şarkıcı/Grup Adı</th>
    <th>Albümdeki Şarkı Sayısı</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="musicAlbum, status : ${musicAlbums}" th:class="${status.odd}? 'odd-row' : 'even-row'">
    <td th:text="${musicAlbum.productId}"></td>
    <td th:text="${musicAlbum.name}"></td>
    <td th:text="${musicAlbum.genre}"></td>
    <td th:text="${musicAlbum.releaseDate}"></td>
    <td th:text="${musicAlbum.basePrice}"></td>
    <td th:text="${musicAlbum.singerName}"></td>
    <td th:text="${musicAlbum.numberOfSongs}"></td>
    <td class="button-cell">
      <button class="editButton" onclick="duzenleFormunuAc(event)">Düzenle</button> </td>
    <td class="button-cell">
      <button class="deleteButton" th:data-album-id="${musicAlbum.productId}">Sil</button></td>

  </tr>
  </tbody>
</table>
<form id="addAlbumForm">
  <label for="name">Ürün Adı</label>
  <input type="text" id="name" name="name">

  <label for="genre">Tür</label>
  <input type="text" id="genre" name="genre">

  <label for="releaseDate">Çıkış Tarihi</label>
  <input type="text" id="releaseDate" name="releaseDate">

  <label for="basePrice">Fiyat</label>
  <input type="number" id="basePrice" name="basePrice">

  <label for="singerName">Müzisyen/Grup Adı</label>
  <input type="text" id="singerName" name="singerName">

  <label for="numberOfSongs">Albumdeki Şarkı Sayısı</label>
  <input type="number" id="numberOfSongs" name="numberOfSongs">

  <button id="addAlbumButton" class="addButton">Albüm Ekle</button>
  <script src="script/scriptAlbum/addAlbum.js"></script>
  <script src="script/scriptAlbum/deleteAlbum.js"></script>
</form>
<form id="editAlbumForm" style="display: none;">
  <input type="hidden" id="editAlbumId" name="id">
  <label for="editAlbumName">Ürün Adı</label>
  <input type="text" id="editAlbumName" name="name">

  <label for="editAlbumGenre">Tür</label>
  <input type="text" id="editAlbumGenre" name="genre">

  <label for="editAlbumReleaseDate">Çıkış Tarihi</label>
  <input type="text" id="editAlbumReleaseDate" name="releaseDate">

  <label for="editAlbumBasePrice">Fiyat</label>
  <input type="number" step="any" id="editAlbumBasePrice" name="basePrice">

  <label for="editAlbumSingerName">Yazar Adı</label>
  <input type="text" id="editAlbumSingerName" name="singerName">

  <label for="editAlbumNumberOfSongs">Albümdeki Şarkı Sayısı</label>
  <input type="number" id="editAlbumNumberOfSongs" name="numberOfSongs">
  <button id="saveButton" onclick="kaydet()">Kaydet</button>

</form>
<script src="script/scriptAlbum/editAlbum.js"></script>
</body>
</html>
