<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kitaplar</title>
    <base href="http://localhost:8080/">
    <link rel="stylesheet" type="text/css" href="/bookStyle.css">
</head>
<body>
<h1>Kitaplar</h1>
<table>
    <thead>
    <tr>
        <th>Ürün Adı</th>
        <th>Tür</th>
        <th>Çıkış Tarihi</th>
        <th>Fiyat</th>
        <th>Yazar Adı</th>
        <th>ISBN Numarası</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, status : ${books}" th:class="${status.odd}? 'odd-row' : 'even-row'">
        <td th:text="${book.name}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.releaseDate}"></td>
        <td th:text="${book.basePrice}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.isbnNumber}"></td>
        <td class="button-cell"><button class="editButton">Düzenle</button> </td>
        <td class="button-cell"><button class="deleteButton">Sil</button></td>

    </tr>
    </tbody>
</table>
<form id="addBookForm">
    <label for="name">Ürün Adı</label>
    <input type="text" id="name" name="name">

    <label for="genre">Tür</label>
    <input type="text" id="genre" name="genre">

    <label for="releaseDate">Çıkış Tarihi</label>
    <input type="text" id="releaseDate" name="releaseDate">

    <label for="basePrice">Fiyat</label>
    <input type="number" id="basePrice" name="basePrice">

    <label for="authorName">Yazar Adı</label>
    <input type="text" id="authorName" name="authorName">

    <label for="isbnNumber">ISBN Numarası</label>
    <input type="number" id="isbnNumber" name="isbnNumber">

    <button id="addBookButton" class="addButton" onclick="addBookForm()">Kitap Ekle</button>
</form>
<script src="crudBook.js"></script>
</body>
</html>
