<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kitaplar</title>
    <base href="http://localhost:8080/">
    <link rel="stylesheet" type="text/css" href="css/bookStyle.css">
</head>
<body>
<h1>Kitaplar</h1>

<table>
    <thead>
    <tr>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Tür</th>
        <th>Çıkış Tarihi</th>
        <th>Fiyat</th>
        <th>Yazar Adı</th>
        <th>ISBN Numarası</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book, status : ${books}" th:class="${status.odd}? 'odd-row' : 'even-row'">
        <td th:text="${book.productId}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.releaseDate}"></td>
        <td th:text="${book.basePrice}"></td>
        <td th:text="${book.authorName}"></td>
        <td th:text="${book.isbnNumber}"></td>
        <td class="button-cell">
            <button class="editButton" onclick="duzenleFormunuAc(event)">Düzenle</button>
        </td>
        <td class="button-cell">
            <button class="deleteButton" th:data-book-id="${book.productId}">Sil</button>
        </td>
        <td class="button-cell">
            <button class="addBoxButton" onclick="addToCart(event)">Sepete Ekle</button>
        </td>
    </tr>
    </tbody>
</table>

<h2>Sepet</h2>
<form id="cartForm" action="/purchase/total" method="post">
    <table id="cartTable">
        <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br>
    <button type="button" onclick="purchase()">Satın Al</button>
</form>
<br>
<br>
<div id="cartTotal"></div>
<br>
<form id="addBookForm">
    <label for="name">Ürün Adı</label>
    <input type="text" id="name" name="name">

    <label for="genre">Tür</label>
    <input type="text" id="genre" name="genre">

    <label for="releaseDate">Çıkış Tarihi</label>
    <input type="text" id="releaseDate" name="releaseDate">

    <label for="basePrice">Fiyat</label>
    <input type="number" step="any" id="basePrice" name="basePrice">

    <label for="authorName">Yazar Adı</label>
    <input type="text" id="authorName" name="authorName">

    <label for="isbnNumber">ISBN Numarası</label>
    <input type="number" id="isbnNumber" name="isbnNumber">

    <button id="addBookButton" class="addButton">Kitap Ekle</button>
</form>

<form id="editBookForm" style="display: none;">
    <input type="hidden" id="editBookId" name="id">
    <label for="editBookName">Ürün Adı</label>
    <input type="text" id="editBookName" name="name">

    <label for="editBookGenre">Tür</label>
    <input type="text" id="editBookGenre" name="genre">

    <label for="editBookReleaseDate">Çıkış Tarihi</label>
    <input type="text" id="editBookReleaseDate" name="releaseDate">

    <label for="editBookBasePrice">Fiyat</label>
    <input type="number" step="any" id="editBookBasePrice" name="basePrice">

    <label for="editBookAuthorName">Yazar Adı</label>
    <input type="text" id="editBookAuthorName" name="authorName">

    <label for="editBookIsbnNumber">ISBN Numarası</label>
    <input type="number" id="editBookIsbnNumber" name="isbnNumber">

    <button id="saveButton" onclick="kaydet()">Kaydet</button>
</form>

<script src="script/scriptBook/addBook.js"></script>
<script src="script/scriptBook/deleteBook.js"></script>
<script src="script/scriptBook/editBook.js"></script>
<script src="script/addToCart.js"></script>
</body>
</html>
