<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmler</title>
    <base href="http://localhost:8080/">
    <link rel="stylesheet" type="text/css" href="/listStyle.css">
</head>
<body>
<h1>Filmler</h1>
<table>
    <thead>
    <tr>
        <th>Ürün Adı</th>
        <th>Tür</th>
        <th>Çıkış Tarihi</th>
        <th>Fiyat</th>
        <th>Yönetmen Adı</th>
        <th>IMDB Skoru</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film, status : ${films}" th:class="${status.odd}? 'odd-row' : 'even-row'">
        <td th:text="${film.name}"></td>
        <td th:text="${film.genre}"></td>
        <td th:text="${film.releaseDate}"></td>
        <td th:text="${film.basePrice}"></td>
        <td th:text="${film.directorName}"></td>
        <td th:text="${film.imdbRate}"></td>
        <td class="button-cell"><button class="deleteButton">Sil</button></td>
    </tr>
    </tbody>
</table>
<button id="addFilmButton" class="addButton" onclick="saveFilm()">Film Ekle</button>
</body>
</html>
