<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmler</title>
    <base href="http://localhost:8080/">
    <link rel="stylesheet" type="text/css" href="css/filmStyle.css">
</head>
<body>
<h1>Filmler</h1>
<table>
    <thead>
    <tr>
        <th>Ürün ID</th>
        <th>Ürün Adı</th>
        <th>Tür</th>
        <th>Çıkış Tarihi</th>
        <th>Fiyat</th>
        <th>Yönetmen Adı</th>
        <th>IMDB Skoru</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="film, status : ${films}" th:class="${status.odd}? 'odd-row' : 'even-row'">
        <td th:text="${film.productId}"></td>
        <td th:text="${film.name}"></td>
        <td th:text="${film.genre}"></td>
        <td th:text="${film.releaseDate}"></td>
        <td th:text="${film.basePrice}"></td>
        <td th:text="${film.directorName}"></td>
        <td th:text="${film.imdbRate}"></td>
        <td class="button-cell">
            <button class="editButton" onclick="duzenleFormunuAc(event)">Düzenle</button> </td>
        <td class="button-cell">
            <button class="deleteButton" th:data-film-id="${film.productId}">Sil</button></td>
        <td class="button-cell">
            <button class="addBoxButton">Sepete Ekle</button></td>

    </tr>
    </tbody>
</table>
<form id="addFilmForm">
    <label for="name">Ürün Adı</label>
    <input type="text" id="name" name="name">

    <label for="genre">Tür</label>
    <input type="text" id="genre" name="genre">

    <label for="releaseDate">Çıkış Tarihi</label>
    <input type="text" id="releaseDate" name="relaseDate">

    <label for="basePrice">Fiyat</label>
    <input type="number" step="any" id="basePrice" name="basePrice">

    <label for="directorName">Yönetmen Adı</label>
    <input type="text" id="directorName" name="directorName">

    <label for="imdbRate">IMDB Skoru</label>
    <input type="number" step="any" id="imdbRate" name="imdbRate">

    <button id="addFilmButton" class="addButton">Film Ekle</button>
    <script src="script/scriptFilm/addFilm.js"></script>
    <script src="script/scriptFilm/deleteFilm.js"></script>
</form>

<form id="editFilmForm" style="display: none;">
    <input type="hidden" id="editFilmId" name="id">
    <label for="editFilmName">Ürün Adı</label>
    <input type="text" id="editFilmName" name="name">

    <label for="editFilmGenre">Tür</label>
    <input type="text" id="editFilmGenre" name="genre">

    <label for="editFilmReleaseDate">Çıkış Tarihi</label>
    <input type="text" id="editFilmReleaseDate" name="releaseDate">

    <label for="editFilmBasePrice">Fiyat</label>
    <input type="number" step="any" id="editFilmBasePrice" name="basePrice">

    <label for="editFilmDirectorName">Yazar Adı</label>
    <input type="text" id="editFilmDirectorName" name="directorName">

    <label for="editFilmImdbRate">IMDB Skoru</label>
    <input type="number" step="any" id="editFilmImdbRate" name="imdbRate">
    <button id="saveButton"  onclick="kaydet()">Kaydet</button>

</form>
<script src="script/scriptFilm/editFilm.js"></script>
</body>
</html>
