<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anasayfa</title>
    <base href="http://localhost:8080/">
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
<h1>Welcome to my Hobby Store</h1>
<hr width="500", size="2", color="black"/>
<font face="Sans-serif", color="Green"><h2>Ürünler</h2></font>
<ul>
    <li><a href="/books" target="_blank">* Kitaplar</font></a></li><br>
    <li><a href="/films" target="_blank">* Filmler</font></a></li><br>
    <li><a href="/musicAlbums" target="_blank">* Müzik Albümü</a></li><br>
</ul>
</body>
</html>








