<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tüm Ürünler</title>
</head>
<body>
<h1>Ürünler</h1>
<table>
    <thead>
    <tr>
        <th>Ürün Adı</th>
        <th>Tür</th>
        <th>Çıkış Tarihi</th>
        <th>Fiyat</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.genre}"></td>
        <td th:text="${product.releaseDate}"></td>
        <td th:text="${product.basePrice}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
