<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <base href="http://localhost:8080/">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Ana Sayfa</h1>
    <div class="list-group">
        <a href="/books" class="list-group-item list-group-item-action">Kitaplar</a>
        <a href="/films" class="list-group-item list-group-item-action">Filmler</a>
        <a href="/musicAlbums" class="list-group-item list-group-item-action">Albümler</a>
    </div>
</div>

<!-- Bootstrap JS -->
</body>
</html>
